In [1]:
import numpy as np
import pandas as pd

In [3]:
hotel_data = pd.read_csv("hotel.csv")

In [12]:
hotel_data['is_canceled'] = hotel_data['is_canceled'].astype("category")

In [13]:
hotel_data['is_canceled'].nbytes

40076

In [21]:
hotel_data

,hotel,is_canceled,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,country,market_segment,is_repeated_guest,reserved_room_type,assigned_room_type,deposit_type,agent,company,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0.0,2015,July,1,0,0,2,0,PRT,Direct,0,C,C,No Deposit,NaN,NaN,Transient,Check-Out,2015-07-01
1,Resort Hotel,0.0,2015,July,1,0,0,2,0,PRT,Direct,0,C,C,No Deposit,NaN,NaN,Transient,Check-Out,2015-07-01
2,Resort Hotel,0.0,2015,July,1,0,1,1,0,GBR,Direct,0,A,C,No Deposit,NaN,NaN,Transient,Check-Out,2015-07-02
3,Resort Hotel,0.0,2015,July,1,0,1,1,0,GBR,Corporate,0,A,A,No Deposit,304.0,NaN,Transient,Check-Out,2015-07-02
4,Resort Hotel,0.0,2015,July,1,0,2,2,0,GBR,Online TA,0,A,A,No Deposit,240.0,NaN,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40055,City Hotel,0.0,2015,August,9,2,1,2,0,NOR,Online TA,0,A,A,No Deposit,9.0,NaN,Transient,Check-Out,2015-08-12
40056,City Hotel,0.0,2015,August,9,2,1,2,0,PRT,Offline TA/TO,0,B,B,No Deposit,3.0,NaN,Transient,Check-Out,2015-08-12
40057,City Hotel,0.0,2015,August,9,2,2,2,0,PRT,Online TA,0,A,D,No Deposit,9.0,NaN,Transient,Check-Out,2015-08-13
40058,City Hotel,0.0,2015,August,10,1,0,2,0,PRT,Online TA,0,A,A,No Deposit,9.0,NaN,Transient,Check-Out,2015-08-11
40059,City Hotel,0.0,2015,August,10,1,0,2,0,PRT,Online TA,0,A,A,No Deposit,9.0,NaN,Transient,Check-Out,2015-08-11

In [25]:
hotel_data['arrival_date_month'] = hotel_data['arrival_date_month'].astype("category")

In [29]:
hotel_data['customer_type'] = hotel_data['customer_type'].astype("category")

In [30]:
hotel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40060 entries, 0 to 40059
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   hotel                      40060 non-null  object
 1   is_canceled                40060 non-null  category
 2   arrival_date_year          40060 non-null  int64
 3   arrival_date_month         40060 non-null  category
 4   arrival_date_day_of_month  40060 non-null  int64
 5   stays_in_weekend_nights    40060 non-null  int64
 6   stays_in_week_nights       40060 non-null  int64
 7   adults                     40060 non-null  int64
 8   children                   40060 non-null  int64
 9   country                    39596 non-null  object
 10  market_segment             40060 non-null  object
 11  is_repeated_guest          40060 non-null  int64
 12  reserved_room_type         40060 non-null  object
 13  assigned_room_type         40060 non-null  object
 14  deposit_type               40060 non-null  object
 15  agent                      31847 non-null  float64
 16  company                    3109 non-null   float64
 17  customer_type              40060 non-null  category
 18  reservation_status         40060 non-null  object
 19  reservation_status_date    40060 non-null  object
dtypes: category(3), float64(2), int64(7), object(8)
memory usage: 5.3+ MB

In [47]:
df = pd.read_csv("test3.csv")

In [55]:
df.dropna(how='any', inplace=True)

In [56]:
df

Empty DataFrame
Columns: [2, 3.2, 1.2, NaN]
Index: []

In [57]:
age=20
if age < 18:
    print("Inek")
else:
    print("ghh")

ghh