In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('TagData.csv')
df = df[df['Time'].notna()]
df['TAL_1076_DO'] = df['TAL_1076_DO'].astype(int)
df['SJ_2744_DO'] = df['SJ_2744_DO'].astype(int)
#df['Time'] = df['Time'].astype(str)
df

                    Time  WE1FT_L_CRTD  ILWT1_L_CRTD  TAL_1076_DO  SJ_2744_DO
0    19/10/2020 10:30:00         43.54         25.12            0           0
1    19/10/2020 10:30:36         43.54         25.12            0           0
2    19/10/2020 10:31:12         43.54         25.12            0           0
3    19/10/2020 10:31:48         43.54         25.12            0           0
4    19/10/2020 10:32:24         43.54         25.12            0           0
..                   ...           ...           ...          ...         ...
345  19/10/2020 13:57:00         24.32         42.02            0           0
346  19/10/2020 13:57:36         24.32         42.02            0           0
347  19/10/2020 13:58:12         24.32         42.02            0           0
348  19/10/2020 13:58:48         24.32         42.02            0           0
349  19/10/2020 13:59:24         24.32         42.02            0           0

[350 rows x 5 columns]

In [ ]:
# x = df['Time']
# y1 = df['WE1FT_L_CRTD']
# y2 = df['ILWT1_L_CRTD']
# y3 = df['TAL_1076_DO']
# y4 = df['SJ_2744_DO']

# plt.plot(x,y1, color="C1")
# plt.plot(x,y2, color="C2")
# plt.plot(x,y3, color="C3")
# plt.plot(x,y4, color="C4")

# plt.show()

In [59]:
#tank_level_data = [df.columns.values.tolist()] + df.values.tolist()
tank_level_data = df.values.tolist()
# for data in tank_level_data:
time = []
WE1FT_L = []
ILWT1_L = []
TAL_1076_DO = []
SJ_2744_DO = []

for data in tank_level_data:
    time.append(data[0])
    WE1FT_L.append(data[1])
    ILWT1_L.append(data[2])
    TAL_1076_DO.append(data[3])
    SJ_2744_DO.append(data[4])
# time

def checkError():
    for j in range(0,len(time)-1):
        a = WE1FT_L[j+1] - WE1FT_L[j]
        b = ILWT1_L[j+1] - ILWT1_L[j]
        if (TAL_1076_DO[j]==0 and SJ_2744_DO[j]==0 and (a!=0 or b!=0)):
            print("Abnormal Transfer taking Place at time: "+time[j])
        
checkError()

Abnormal Transfer taking Place at time: 19/10/2020 13:31:48
Abnormal Transfer taking Place at time: 19/10/2020 13:32:24
Abnormal Transfer taking Place at time: 19/10/2020 13:34:12
Abnormal Transfer taking Place at time: 19/10/2020 13:34:48
Abnormal Transfer taking Place at time: 19/10/2020 13:36:00
Abnormal Transfer taking Place at time: 19/10/2020 13:37:12
Abnormal Transfer taking Place at time: 19/10/2020 13:37:48
Abnormal Transfer taking Place at time: 19/10/2020 13:38:24
Abnormal Transfer taking Place at time: 19/10/2020 13:42:00